
<!DOCTYPE html>

<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width" />
        <title> Homepage </title>
    </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="https://localhost:7243/">TesterAPI</a>
            </div>

            <ul class="nav navbar-nav">
              <li class="active">
                  <a asp-action="Home" href="https://localhost:7243/"> Home</a>
              </li>

              <li>
                  <a asp-action="Privacy" href="privacy">Privacy</a>
              </li>

              <li>
                  <a asp-action="User" href="">User</a>
              </li>

              <li>
                  <a href="https://localhost:7243/swagger">Swagger</a>
              </li>
            </ul>
          </div>
        </nav>
    </body>
</html>
